*~
bookmarks
elpa
custom.el
/transient/
/network-security.data
/projectile-bookmarks.eld
/.cache/
/.dap-breakpoints
/.lsp-session-v1
/url/
/recentf
/tramp
/flycheck_custom.el
/server/
/custom.el.1650556372
